:root


 
 .list {
    list-style: none;
 }


.page{
    color: #212121;
    background-color: #F5F5F5;
    font-family: Roboto, sans-serif; 
}
/* logo */
.first-part{ 
    color: #2196F3;
    
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,1923;
    letter-spacing: 0,03em;
}
.second-part {
    color: #000000;
}
.second-part,
.second-part-foot {

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,1923;
    letter-spacing: 0,03em;

}
.logo:hover {


}

/* site nav */
.site-nav .link {
    color: #212121;
    font-weight: 500;
    font-size: 14px; 
    line-height: 1,1721;
    letter-spacing: 0,02em;
}
.link:hover,
.link:focus {
    color: #2196F3;
}

.contacts:hover,
.contacts:focus {
    color: #2196F3;
}
.contacts {
    color: #757575;
    font-weight: 500;
    font-size: 14px; 
    line-height: 1,1721;
    letter-spacing: 0,02em;
}

/* button */
.button {
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,875;
    text-align: center;
    letter-spacing: 0,06em;
}
.button .primary {

}
.button .secondary {

}


/* gero */

.gero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,3636;
    text-align: center;
    letter-spacing: 0,06em;
}
/* section our-advantages */
.our-advantages-title {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,1721;
    letter-spacing: 0,03em;
}
.our-advantages {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,1743;
    letter-spacing: 0,03em;
}
.section-title {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,1719;
    letter-spacing: 0,03em;
    text-align: center;
}
/* section images */


/* section team */
.team {
    color:#212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,1719;
    text-align: center;
    letter-spacing: 0,03em;
}
.specialist {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,1719;
    text-align: center;
    letter-spacing: 0,03em;
}
                                                /* footer */
.section-foot {
    background-color: #2F303A;
}                                                
.contacts-foot {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7143;
    letter-spacing: 0,03em;
}
.second-part-foot {
    color: #FFFFFF;

}




